  <script>
    function delete_this(flash){
      $(flash).parent().remove()
    }
  </script>
  <article class="flashes">
    {% with messages = get_flashed_messages() %}
      {% if messages %}
        <ul>
          {% for message in messages %}
            <li class="card" onclick=delete_this(this)>
              <a title="remove"><p style="margin: 15px; color: #868A8E; cursor: pointer;">
                {{message}}
                <i class="small material-icons right">close</i>
              </p></a>
            </li>
          {% endfor %}
        </ul>
      {% endif %}
    {% endwith %}
  </article>